main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

main table {

    border: 1px solid black;
    text-align: center;
    width: 50%;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}

th,
td {
    border: 1px solid black;
}
main table td.COLO{
    background-color:green;
}
main table td.COLO1{
    background-color: red;
}