main img {
    height: 100px;
    width: 100px;
    display: flex;
    border-radius: 50px;
    margin: 0px 0px;
}
main{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: row;
    height: auto;
}

form {
    display: flex;
    padding: 10px;
    overflow: auto;
    flex-flow: column wrap;
    align-items: flex-start;
    flex-direction: column;
}

label {
    text-align: center;
    padding: inherit;
}