* {
    font-style: normal;
}

:root {
    --background: #DEF5E5;
    --headerFooter: #8EC3B0;
    --paragraph: #8EC3B0;
    --button-bg: #DEF5E5;
    --button-text: #8EC3B0;
}

header {
    background-color: var(--headerFooter);
    display: flex;
    justify-content: space-between;

}

header img {
    height: 35px;
    width: 35px;
}

nav {
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

body {
    background-color: var(--background);
    display: inline;
    margin: 0px;
}

footer {
    background-color: var(--headerFooter);
    display: flex;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    justify-content: space-between;

}

footer img {
    height: 35px;
    width: 35px;
    float: left;
    padding: 20px 10px;
}

footer p {
    padding-top: 15px;
}